body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./Assets/paul-pastourmatzis-KT3WlrL_bsg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}

body::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for WebKit browsers */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
